@charset "UTF-8";


body{
  height: 100%;
}

header {
  background-color:rgb(49, 47, 47);
  display: flex;
  height: 100%;
  width: 100%;
}

a:hover{
  background-color: #beb7b7;
  border-radius: 5px;
  padding: 10px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 6rem;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  text-decoration: none;
  font-size: 1.15rem;
  color:rgb(56, 51, 51);
  font-weight: 400;
  align-items: center;
  color: white;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

h1,
figcaption, h5 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

a,
p {
  font-family: Arial, Helvetica, sans-serif;
}


.center {
  float: left;
  width: 70%;
  height: 100%; 
}

article {
  float: left;
  width: 75%;
  height: 100%;
}

aside {
  float: right;
  width: 25%;
  padding-left: 20px;
  height: 100%;
}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.card {
  background-color: white;
  padding: 20px;
}
section{
  background-color: white;
  padding: 20px;
}

.card-right {
  background-color: #61cb57;
  ;
  color: white;
  padding: 20px;
  margin-top: 50px;
  height: 10%;
  width: 50%;
  text-align: center;
  margin: auto;
}

.row{

  display: table;
  clear: both;
}

img {
  text-align: center;
  display: block;
  border-radius: 8px;
  margin: auto;
}


.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px;
  margin-top: 10px;
  margin: 10px;
  gap: 5%;
}
.container div {
  border: 2px solid black;
  border-radius: 8px;
}

.container img {
  width: 100%;
  height: 100%;
}

.esporte1 {
  width: 100%;
  height: 100%;
  grid-area: 1;
}

.esporte2 {
  width: 100%;
  height: 100%;
  grid-area: 1;
}

.esporte3 {
  width: 100%;
  height: 100%;
  grid-area: 1;
}

.esporte4 {
  width: 100%;
  height: 100%;
  grid-area: 1;
}

.esporte5 {
  width: 100%;
  height: 100%;
  grid-area: 1;
}

.esporte6 {
  width: 100%;
  height: 100%;
  grid-area: 1;
}



footer {
  width: 100%;
  color: white;
  padding-top: 2%;
}

.footer-link {
  text-decoration: none;
}

#footer_content {
  background-color: #343136;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3rem 3.5rem;
  align-items: center;
  bottom: 0;
  width: calc(100% - 3rem - 4rem);
}



.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
  align-items: center;
}

.footer-list .footer-link {
  color: white;
  transition: all 0.4s;
}

.footer-list .footer-link:hover {
  color: #ffffff;
}


#footer_copyright {
  display: flex;
  justify-content: center;
  background-color:#343136;
  font-size: 1.2rem;
  padding: 1.5rem;
  font-weight: 100;
}

@media (max-width:280px) {

  .card {
    width: 15vh;
    padding: 20px 0 0 0;
  }
  .card img {
    width: 100%;
    height: 100%;
  }
  footer{
    width: 12vh;
  }
  figure{
    width: 15vh;
  }
}

@media (max-width:630px) {
  #footer_content {
    grid-template-columns: 1fr;
    padding: 3rem 3.5rem;
    align-items: center;
    bottom: 0;
    width: calc(100% - 3rem - 4rem);
    grid-template-rows: 1fr 1fr;
  }

  .f1 {
    grid-row: 1;
  }

  .f2 {
    grid-row: 2;
    grid-column: 1;
  }

}
@media (max-width:1780px) {

  .card {
    width: 15vh;
    padding: 20px 0 0 0;
  }
  .card img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 393px) {

  .card {
    width: 12vh;
    padding: 20px 0 0 0;
  }
  .card img {
    width: 50%;
    height: 500%;
  }
}
@media (max-width: 360px) {

  .card {
    width: 12vh;
    padding: 20px 0 0 0;
  }
  .card img {
    width: 50%;
    height: 50%;
  }
  main{
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 412px) {

  .card {
    width: 12vh;
    padding: 20px 0 0 0;
  }
  .card img {
    width: 50%;
    height: 500%;
  }
}
@media (max-width: 540px) {

  .card {
    width: 12vh;
    padding: 20px 0 0 0;
  }
  .card img {
    width: 50%;
    height: 500%;
  }
}

@media (max-width: 375px) {

  .topnav a , main , aside, footer, header, article, .card, body{
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 337px) {
  .topnav a , main , aside, footer, header, article, .card, body{
    float: none;
    width: 100%;
  }
}



@media screen and (max-width: 1000px) {
  .nav-bar {
      padding: 1.5rem 4rem;
  }
  .nav-item {
      display: none;
  }
  .mobile-menu-icon {
      display: block;
  }
  .mobile-menu-icon button {
      background-color: transparent;
      border: none;
      cursor: pointer;
  }
  .mobile-menu ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-bottom: 1rem;
  }
  .mobile-menu .nav-item {
      display: block;
      padding-top: 1.2rem;
  }
  .open {
      display: block;
  }
}