@charset "UTF-8";


.header {
  background-color: #61cb57;

  color: white;
  padding: 20px;
  text-align: center;
  margin: 0;
}

nav {
  overflow: hidden;
  background-color: #1e2122;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

h1,
h5 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

a,
p {
  font-family: Arial, Helvetica, sans-serif;
}


.leftcolumn {
  float: left;
  width: 70%;
}

.rightcolumn {
  float: right;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
  height: 100%;
}

.polorightcolumn {
  float: right;
  width: 25%;
  padding-left: 20px;
  height: 100%;
}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.card {
  background-color: white;
  padding: 20px;
}

.card-right {
  background-color: #61cb57;
  ;
  color: white;
  padding: 20px;
  margin-top: 50px;
  height: 10%;
  width: 50%;
  text-align: center;
  margin: auto;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 800px) {

  .leftcolumn,
  .rightcolumn,
  .polorightcolumn img,
  body,
  .footer,
  .notice,
  #col1,
  #col2,
  #col3,
  #footer {
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

img {
  text-align: center;
  display: block;
  border-radius: 8px;
  margin: auto;
}

.company-details {
  overflow: hidden;
  padding: 3em 0em;
  background: #E3F0F7;
  text-align: center;
  margin-top: 5em;
}

#footer #col1,
#footer #col2,
#footer #col3 {
  float: left;
  width: 320px;
  padding: 0px 40px 0px 40px;
  justify-content: center;
  align-items: center;

}

#footer #icon {
  display: block;
  margin-bottom: 1em;
  font-size: 3em;
}

.copyright {
  overflow: hidden;
  padding: 3em 0em;
  border-top: 20px solid rgba(255, 255, 255, 0.08);
  text-align: center;
  background-color: #61cb57;
}

.copyright p {
  letter-spacing: 1px;
  font-size: 0.90em;
  color: white;
}

.copyright a {
  text-decoration: none;
  color: white
}

ul.contact {
  margin: 0;
  padding: 2em 0em 0em 0em;
  list-style: none;
}

ul.contact li {
  display: inline-block;
  padding: 0em 0.10em;
  font-size: 1em;
}

ul.contact li a {
  color: #FFF;
  display: inline-block;
  background: #4C93B9;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px;
  margin-top: 10px;
  gap: 5%;
}

.container img {
  width: 100%;
  height: 100%;
}

.esporte1 {
  width: 100%;
  height: 100%;
  grid-area: 1;
}

.esporte2 {
  width: 100%;
  height: 100%;
  grid-area: 1;
}

.esporte3 {
  width: 100%;
  height: 100%;
  grid-area: 1;
}

.esporte4 {
  width: 100%;
  height: 100%;
  grid-area: 1;
}

.esporte5 {
  width: 100%;
  height: 100%;
  grid-area: 1;
}

.esporte6 {
  width: 100%;
  height: 100%;
  grid-area: 1;
}