@charset "UTF-8";


header {
  background-color: #61cb57;

  color: white;
  padding: 20px;
  text-align: center;
  margin: 0;
}

nav {
  overflow: hidden;
  background-color: #1e2122;
}

nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

h1,
h5 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

a,
p {
  font-family: Arial, Helvetica, sans-serif;
}


.center {
  float: left;
  width: 70%;
}

article {
  float: left;
  width: 75%;
  height: 100%;
}

aside {
  float: right;
  width: 25%;
  padding-left: 20px;
  height: 100%;
}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.card {
  background-color: white;
  padding: 20px;
}

.card-right {
  background-color: #61cb57;
  ;
  color: white;
  padding: 20px;
  margin-top: 50px;
  height: 10%;
  width: 50%;
  text-align: center;
  margin: auto;
}

.row.row::main {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 800px) {

  .leftcolumn,
  .rightcolumn,
  .polorightcolumn img,
  body,
  .footer,
  .notice,
  #col1,
  #col2,
  #col3,
  #footer {
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

img {
  text-align: center;
  display: block;
  border-radius: 8px;
  margin: auto;
}


.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px;
  margin-top: 10px;
  gap: 5%;
}

.container img {
  width: 100%;
  height: 100%;
}

.esporte1 {
  width: 100%;
  height: 100%;
  grid-area: 1;
}

.esporte2 {
  width: 100%;
  height: 100%;
  grid-area: 1;
}

.esporte3 {
  width: 100%;
  height: 100%;
  grid-area: 1;
}

.esporte4 {
  width: 100%;
  height: 100%;
  grid-area: 1;
}

.esporte5 {
  width: 100%;
  height: 100%;
  grid-area: 1;
}

.esporte6 {
  width: 100%;
  height: 100%;
  grid-area: 1;
}